b{
  font-size: 25px;
  margin: 100px;
  margin:10px;
}
img{
  width:160px;
  height: 140px;
  float:right;
  margin-right: 40px;


}
h1{
  text-align: center;
  font-size: 35px;
}
#object  {
  font-size: 30px;
}
p{
  text-align: justify;
  font-size:25px
}
ol li {
  font-size: 20px;
}
#record{
    font-size: 30px;
}
#table1{
  border: 2px solid red;
  font-size: 26px;
  padding: 18px;
  margin: 10px;
  text-align: center;
}
#ability{
    font-size: 30px;
}
#info{
  font-size: 30px;
  margin: 10px;

}
#computer  {

    font-size: 30px;
}
ul li {
    font-size: 25px;
}
#skill{
  font-size: 30px;
}
ol li {
  font-size: 25px;
}
#skill2{
    font-size: 30px;
}
#skill3{
    font-size: 30px;
}
#table2{
  border: 2px solid green;
  font-size: 26px;
  padding: 18px;
  margin: 10px;
  text-align: center;
}
#skill5{
    font-size: 30px;
}
#skill6{
    font-size: 30px;
}
#skill7{
  width:200px;
  height: 80px;
  background: black;
  color: white;
  font-size: 26px;
  text-align: center;
  margin: 5px;
  padding: 5px;
}
